<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auge.manage.dao.GoodsCategoryMapper">
    <resultMap id="GoodsCategory" type="com.auge.manage.domain.GoodsCategory">
        <id column="category_id" property="id"/>
        <result column="category_code" property="code"/>
        <result column="category_name" property="name"/>
        <result column="category_type" property="type"/>
        <result column="category_status" property="status"/>
        <result column="category_ctime" property="ctime"/>
        <result column="category_cperson" property="cperson"/>
        <result column="category_mtime" property="mtime"/>
        <result column="category_mperson" property="mperson"/>
    </resultMap>

    <resultMap id="GoodsCategoryName" type="String">
        <result column="category_name" property="name"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id, category_code, category_name, category_type, category_status, category_ctime, category_cperson, category_mtime, category_mperson
    </sql>

    <insert id="addGoodsCategory">
        insert into wms_goods_category ( category_code, category_name, category_type, category_status, category_ctime, category_cperson, category_mtime, category_mperson )
        values(#{code}, #{name}, #{type}, #{status}, #{ctime}, #{cperson}, #{mtime}, #{mperson})
    </insert>

    <select id="selectAll" resultMap="GoodsCategory">
        select
          <include refid="Base_Column_List" />
        from
          wms_goods_category
    </select>

    <select id="selectGoodsCategory" resultMap="GoodsCategory">
        select
          <include refid="Base_Column_List" />
        from
          wms_goods_category
        <where>
            <if test="name != null and name != ''">
                category_name = #{name}
            </if>
        </where>
    </select>

    <select id="selectGoodsCategoryName" resultMap="GoodsCategoryName">
        select
          category_name
        from
          wms_goods_category
        <where>
            <if test="type != null and type != ''">
                category_type = #{type}
            </if>
        </where>
    </select>

    <select id="selectByName" resultMap="GoodsCategory">
        select
        <include refid="Base_Column_List" />
        from
          wms_goods_category
        <where>
            <if test="name != null and name != ''">
                category_name = #{name}
            </if>
        </where>
    </select>

    <select id="selectMaxID" resultType="long">
        select IFNULL(0, max(category_id)) from wms_goods_category
    </select>

    <update id="updateGoodsCategory">
        update
          wms_goods_category
        set
          category_name = #{name},
          category_type = #{type},
          category_status = #{status},
          category_mtime = #{mtime},
          category_mperson = #{mperson}
        where
          category_id = #{id}
    </update>

    <select id="selectApproximateByName" resultMap="GoodsCategory">
        select
          <include refid="Base_Column_List" />
        from
          wms_goods_category
        where
          category_name like concat(concat('%',#{name}),'%')
    </select>

    <delete id="deleteById">
        delete
        from
          wms_goods_category
        where
          category_id = #{id}
    </delete>

    <insert id="insertBatch">
        insert into wms_goods_category ( category_code, category_name, category_type, category_status, category_ctime, category_cperson, category_mtime, category_mperson )
        values
        <foreach collection="list" item="GoodsCategory" separator=",">
            (#{category.code},#{category.name},#{category.type},#{category.status},#{category.ctime},#{category.cperson},#{category.mtime},#{category.mperson})
        </foreach>
    </insert>

</mapper>